<h3 class="titulo-ofertas">¡Ofertas!</h3>
<section class="ofertas">

    <article>
        <img src=<%= productos[0].imagen%> alt="foto mouse">

        <div class="nombre-precio-mas">

        <p class="nombre"><%= productos[0].nombre%></p>
        <p class="precio"><%= productos[0].precio%></p>
        <p class="ver-mas"><a href="#">Ver más</a></p>
    </div>

    </article>

    <article>

        <img src=<%= productos[1].imagen%> alt="foto teclado">

            <div class="nombre-precio-mas">

                <p class="nombre"><%= productos[1].nombre%></p>
                <p class="precio"><%= productos[1].precio%></p>
                <p class="ver-mas"><a href="#">Ver más</a></p>

            </div>

    </article>

    <article>
        <img src=<%= productos[2].imagen%> alt="foto silla gamer">

            <div class="nombre-precio-mas">


                <p class="nombre"><%= productos[2].nombre%></p>
                <p class="precio"><%= productos[2].precio%></p>
                <p class="ver-mas"><a href="#">Ver más</a></p>

            </div>

    </article>

    <article>
        <img src=<%= productos[3].imagen%> alt="foto monitor">

            <div class="nombre-precio-mas">

                <p class="nombre"><%= productos[3].nombre%></p>
                <p class="precio"><%= productos[3].precio%></p>
                <p class="ver-mas"><a href="#">Ver más</a></p>

            </div> 

    </article>

</section>